<%- include ("shared/_header") %>
    <div>
        <h1>
            welcome to the content Managment System
        </h1>
        <h2> SAHIL LAMBA</h2>
    </div>
<%- include("shared/_footer") %>